@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  font-family: 'Montserrat', white, sans-serif;
  /* border: 1px solid red; */
}

/* * {
  font-family: 'Poppins', white, sans-serif;
  font: white;
} */

.nav-link:hover {
  color: yellow !important;
}

.nav-link.active {
  color: yellow !important;
}

.testimonial-card {
  position: relative;
  background-color: #1f1f1f;
  border: 1px solid #ffc10755;
  border-radius: 20px;
  padding: 2rem 1.5rem 1.5rem;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.25);
}

/* FOTO TESTIMONI */
.testimonial-photo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1f1f1f;
  box-shadow: 0 0 0 3px #ffc107;
}

.testimonial-name {
  margin-top: 50px;
  font-weight: 600;
  color: #ffc107;
}

.testimonial-date {
  font-size: 0.9rem;
  color: #aaa;
}

.testimonial-text {
  font-size: 0.95rem;
  color: #ddd;
  margin-top: 0.75rem;
}

/* TOMBOL */
.btn-outline-warning {
  border-width: 2px;
  transition: 0.3s;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: #000;
}

.gambarHome{
  
}